.navbar-default {
  background-color: #294f6d;
  border-color: #051a2b;
}
.navbar-default .navbar-brand {
  color: #718ea4;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #21537a;
}
.navbar-default .navbar-text {
  color: #718ea4;
}
.navbar-default .navbar-nav > li > a {
  color: #718ea4;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #21537a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #21537a;
  background-color: #051a2b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #21537a;
  background-color: #051a2b;
}
.navbar-default .navbar-toggle {
  border-color: #051a2b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #051a2b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #718ea4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #718ea4;
}
.navbar-default .navbar-link {
  color: #718ea4;
}
.navbar-default .navbar-link:hover {
  color: #21537a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #718ea4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #21537a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #21537a;
    background-color: #051a2b;
  }
}
  .main-color-bg{
    background-color: #294f6d !important;
    border-color: #051a2b !important;
    color: #8eb3ce !important;    
  }
  
